html,
body,
div,
span, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
	list-style: none;
}

.page {
    margin: 10px 50px 10px;
    background-color: skyblue;
}

.side{
    float: left;
    width: 200px;
    height: 100%;
}

.side
.side-content{
    color: white;
    /* margin: 20px 50px 20px; */
    padding: 20px 70px 20px;
    font-size: 30px;
    font-weight: bold;
}

.content{
    margin-left: 200px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: white;
}

.content
.base{
    margin-bottom: 20px;
}

.content
.base
h2 {
    margin-bottom: 10px;
}

.content
.base
.base-item {
    display: inline;
    margin-right: 10px;
}

.content
.base
.base-item
.base-item-first {
    font-weight: bold;
    margin-right: 5px;
}


.content
.col{
    margin-bottom: 20px;
}

.content
.col
h2 {
    margin-bottom: 10px;
}

.content
.col
.col-item {
    margin-bottom: 10px;
}


.content
.col
.col-item
.col-item-first {
    font-weight: bold;
}